/* body part */
body {
  padding: 0;
  margin: 0;
  background: #FDEFEF;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
*{
  box-sizing: border-box;
}

/* end body part */
nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #082032;
  padding: 0 3vw;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

/* algorithm selection */

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  cursor: pointer;
  margin: 0 1rem;
}

input[type="radio"]:checked+label {
  font-weight: bold;
  text-transform: uppercase;
}
/* end algorithm selection */

/* columns part */
.main {
  display: flex;
  justify-content: center;
}

.el {
  background: #3498db;
  margin: 0 .1vw;
}

.targeted {
  background: #FF4C29 !important;
}
